/* .conteneur {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    border: 1px solid black;
} */

/* 
.gauche {
    order: 1;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    font-size: 20px;
}

.centre {
    order: 2;
    flex-basis: 800px;
    -webkit-flex-basis: 800px; 
    height: 100%;
    margin: auto;
    background-color: #fff;
    padding-bottom: 50px;
}

.droite {
    order: 3;
    display: -webkit-flex;
    display: flex;
    height: 100%;
} */
