/* ..separator{
    margin-left: 54rem;
    margin-right: 54rem;
    margin-top: 0.5rem;
    height: 0.2rem;
    font-size: 1px;
    border-radius: 1rem;
    background-color: rgb(0, 0, 0);
} */
@media (max-width: 600px){
	.presentation{ 
        padding-left: 1rem;
        padding-right: 1rem;
	}
    .gauche{
        display: none;
    }
    .droite{
        display: none;
    }
    .centre{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .centre h1{
        font-size: 1.5rem;
    }
    .centre p{
        padding-top: 1rem;
        text-align: center;
        color: black;
        font-size: 1rem;
    }
    .separator{
        margin-left: 12rem;
        margin-right: 12rem;
    }
    .separator{
        margin-left: 12rem;
        margin-right: 12rem;
        margin-top: 0.5rem;
        height: 0.2rem;
        font-size: 1px;
        border-radius: 1rem;
        background-color: rgb(0, 0, 0);
    }
    .centre div{
        justify-content: center ;
        display: flex;
        flex-direction: column;
    }
    .centre div lu{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .examplegame {
        text-align: center;
        margin-top: 1em;
        margin-left: 0rem;
    }
}
